<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="EgorDubrovskiy\Customer\Api\Data\AllowAddDescriptionInterface"
                type="EgorDubrovskiy\Customer\Model\Data\AllowAddDescription" />
    <preference for="EgorDubrovskiy\Customer\Api\Repository\AllowAddDescriptionRepositoryInterface"
                type="EgorDubrovskiy\Customer\Model\Repository\AllowAddDescriptionRepository" />
</config>
